html{
    background-image: linear-gradient(rgba(63, 63, 63, 0.74), rgb(0, 0, 0));
    background-repeat: no-repeat;
    height:auto;
}
.maintitle{
    display: flex;
    justify-content: center;
    
}
h1{
    background-image: linear-gradient(rgba(16, 0, 161, 0.5), rgba(0, 0, 0, 0.308));
    background-repeat:no-repeat;
    color:rgba(255, 255, 255, 0.815);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style:double;
    text-align: center;
    border-radius: 20px;
    border-width: 11px;
    width: 55%;
    align-items: center;
}

.quadrado1{
    background-image: linear-gradient(rgba(16, 0, 161, 0.5), rgba(0, 0, 0, 0.308));
    background-repeat:no-repeat;
    color:rgba(255, 255, 255, 0.815);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style:double;
    border-radius: 20px;
    border-width: 11px;
    align-items: center;
}
h2{
    text-align: center;
}
p{
    margin-left: 20px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
}

div.gallery {
    margin: 30px;
    border: 10px double #ccc;
    float: left;
    border-radius: 15px;
    width: 380px;
    background-image: linear-gradient(rgba(16, 0, 161, 0.5), rgba(0, 0, 0, 0.308));
    height: 320px;
}

div.gallery:hover {
    border: 10px solid #ffffff;
    
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    color:rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.botaosc{
    position: relative;
    padding: 9px 15px;
    background-color: #ffffff;
    color: #007BFF;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    left: 47%;
}
    
#botaosc:hover{
        background-color: #0056b3;
        color: white;
}

 .img {
      position: absolute;
      width: 100px; 
      height: auto;
    }
    